* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
}

.first {
    width: 100%;
    text-align: center;
}

 

td {
    border: 2px solid white;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    font-size: 70px;
}

.nameScore {
    /* border: 2px solid white; */
    width: 200px;
    margin-top: 20px;
    gap: 20px;
}
.nameScore p{
    border: 3px solid white;
    width: 120px;
    height: 30px;
}